@charset "utf-8";
/* CSS Document */
body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑",Arial;
	background-color: #f3f3f3;
	
}
body a:hover{
	text-decoration: underline;
}
ul,ol{
	list-style:none;
}
img{
	border: 0;
}
a{
	text-decoration: none;
}


/*顶部*/
#roofbox{
	display: flex;
	justify-content: space-around;
	background: #fafafa;
}
#Left_roof h4{
	display: inline-block;
	font-size: 12px;
	font-weight: 100;
	color: #5b0000;
}
#Left_roof a{
	margin-left: 10px;
	color:#5b0000;
	font-size: 12px;
}
#Right_roof a{
	margin-left: 20px;
	color:#5b0000;
	font-size: 12px;
}

/*商品栏*/
#Commodity{
	width: 100%;
	height: 39px;
	background: #000;
	text-align: center;

}
#Commodity a{
	float: left;
	color: #fff;
	font-size: 12px;
	width: 107px;
	height: 39px;
	line-height: 39px;
}
/*#Commodity{
	position: fixed;
	top:200px;
	z-index: 2;
}*/
#comm a{
	width: 219px;
	height: 39px;
	background:#c40000;
	margin-left: 230px;
}
#dity a:hover{
	background: #f3f3f3;
	color: #7a1317;
}
/*#mmod{
	width: 261px;
	height: 826px;
	background: #282828;
}*/
/*轮播图*/
#box{
	position: relative;
	width: 100%;
	height: 600px;
	margin:0 auto;
}

#box img{
	position: absolute;
	left:0px;
	top:0px;
	width: 100%;
	height: 100%;	
	z-index: 1;			
}

#box img:nth-child(1){
	z-index:2;
}

#box ul{
	position: absolute;
	list-style: none;
	right: 662px;
	bottom: 10px;
	z-index: 3;
}
#box ul li{
	float:left;
	width:20px;
	height: 20px;
	margin-right: 40px;
	background-color:#000;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	font-size: 10px;
	line-height: 20px;
}
#box ul li:nth-child(1){
	background-color: red;
}

/*宣传片*/
#videos{
	text-align: center;
}

/*跑步鞋*/

#box1{
	width:100%;
	height: 550px;
	text-align: center;
	    margin-top: 20px;
}
.abox1{
 	display: inline-block;
 	width: 588px;
 	height: 529px;
	margin-left: 24px;
}
.abox1:hover{
      box-shadow: 0 20px 35px rgba(0, 0, 0, 0.6);
	  transform: translateY(-0.8%);
}
/*明星同款*/
#box2{
	width: 100%;
	text-align: center;
	margin-top: 45px;
	/*margin-left: 8px;*/
}
.abox2{
 	display: inline-block;
 	width: 385px;
 	height: 687px;
	margin-left:24px;

}
 .abox2:hover{
      box-shadow: 0 20px 35px rgba(0, 0, 0, 0.6);
	  transform: translateY(-0.8%);
}

/*小图片*/

#imgs{
	text-align:center;
	/*background: #000;*/
	
}
#imgbox{
	width: 1200px;
	margin:0 auto;
	background: #fff;
	margin-bottom: 10px;
	margin-top: 15px;
}
#imgbox a{
	display:inline-block;
	width: 160px;
	height: 90px;
	border-right: 1px dashed #d6d6d6;
	margin-top: 10px;
}
#imgbox a img{
	display: inline-block;
	width: 160px;
	height: 90px;
}
#imgbox a:last-child{
	border: 0;
}

/*运动表现*/
#expression{
	margin:0 auto;
	width: 1200px;
	height: 590px;
	/*margin-top: 31px;*/
	/*background: red;*/

}
#expr{
	display: flex;
	justify-content: space-between;
	width: 1200px;
	height: 39px;
	margin:0 auto;
	border-bottom: 2px solid #202020;
}
#wzbox{
	line-height: 39px;
}
#wzbox h3{
	display: inline-block;
}
#wzbox h3:nth-child(1){
	width: 30px;
	height: 30px;
	color: #fff;
	font-size: 12px;
	background: #000;
	line-height: 30px;
	text-align: center;
}
/*#wzbox h4{
	line-height: 42px;
	font-size:20px;
	display: inline-block;
}*/
#Nz{
	line-height: 39px;
}
#Nz a{
	color:#666666;
	font-size: 14px;
	margin-right: 10px;
}
#motion{
	width: 1200px;
	margin:0 auto;
	margin-top: 20px;
	/*display:flex;
	justify-content: space-between;*/
}
#ess{
	width: 160px;
	height: 65px;
	background: #1a1d1f;
	text-align: center;
	float: left;
}
#ss a{
	line-height: 65px;
	color: #fff;
	font-size: 16px;
}
#ss a:nth-child(1){
	width: 70px;
	height: 25px;
	border-right: 1px solid #a4a5a6;
	padding-right: 10px;
}
#ion a img{
	display: block;
	border-radius: 50%;
	margin:20px 15px 20px 15px;
}
#es{
	width: 130px;
	height: 120px;
	margin-left: 15px;
	margin-bottom: 9px;
}
#es a{
	color: #2f0000;
	font-size: 16px;
}
#on a img{
	width: 160px;
	height: 146px;
}
#oti{
	float: left;
	margin-left: 10px;
}
#oti a img{
	width: 510px;
	height: 510px;
}
#tion{
	float: left;
	width: 518px;
	height: 510px;
	/*background: red;*/

}
#Q{
	float: left;
	position: relative;
	width: 250px;
	height: 170px;
	background: #fff;
	text-align: center;
	margin-left: 9px;
}
#Q a img{
	width: 170px;
	height: 140px;
}
#Q span{
	position: absolute;
	left: 85px;
	top: 136px;
	color: #666666;
	font-size: 16px;
}
#T{
	float: left;
	position: relative;
	width: 250px;
	height: 331px;
	background: #fff;
	text-align: center;
	margin-left: 9px;
	margin-top: 9px;
}
#T a img{
	width: 240px;
	height: 240px;
}
#T span{
	position: absolute;
	left: 85px;
	top: 295px;
	color: #666666;
	font-size: 16px;
}
#X{
	float: left;
	position: relative;
	width: 250px;
	height: 161px;
	background: #fff;
	text-align: center;
	margin-left: 9px;
	margin-top: 9px;
}
#X a img{
	width: 170px;
	height: 140px;
}
#X span{
	position: absolute;
	left: 85px;
	top: 136px;
	color: #666666;
	font-size: 16px;
}

/*鞋子*/
#shoe{
	width: 1200px;
	height: 1605px;
	margin: 0 auto;
	background:#fff;
	margin-bottom: 50px;
}
#shoe a{
	float: left;
	margin-left:26px;
	text-align: center;

}
#shoe a img{
	display: block;
	width: 268px;
	height: 310px;
}
#shoe a span{
	display: block;
	color: #666666;
	font-size: 16px;
	margin: 36px 0;
}
/*底部UL*/
#base{
	background: #fff;
	width: 100%;
	height: 207px;
}
 #foot{
	width: 1200px;
	margin:0 auto;
}
#libox{
	float: left;
	width: 213px;
	height: 92px;
	margin-top: 31px;
}
#libox ul li h3{
	color: #575757;
	font-size: 12px;
}
#libox ul li a{
	color: #848484;
	font-size: 10px;
}
#A{
	float: left;
	width: 219px;
	height: 92px;
	margin-top: 31px;
}
#A ul li h3{
	color: #575757;
	font-size: 12px;
}
#A ul li a{
	color: #848484;
	font-size: 10px;
}
#B{
	float: left;
	width: 472px;
	height: 92px;
	border-right: 2px dashed #f0f0f0;
	margin-top: 31px;
}
#B ul li h3{
	color: #575757;
	font-size: 12px;
}
#B ul li a{
	color: #848484;
	font-size: 10px;
}
#touch{
	float: left;
	margin: 40px 0px 0px 49px;
}
#touch h3{
	font-size: 16px;
	color: #c1111c;
}
#touch p{
	font-size: 14px;
	color: #727272;
	line-height: 40px;
}
/*#touch a{
	font-size: 12px;
	color: #c1121d;
}*/
/*#touch a{
	display: block;
	width: 122px;
	height: 32px;
	border:1px solid #c1121d;
	text-align: center;
	line-height: 32px;
}*/
/*#touch a img{*/
	/*display: block;*/
	/*width: 17px;
	height: 15px;
	line-height: 32px;
}*/
/*黑色条子*/
#strp{
	background: #191d20;
	width: 100%;
}
#strp img{
	display: block;
	width: 1200px;
	height: 45px;
	margin: 0 auto;
}
/*最底部*/
#note{
	width: 100%;
	height: 148px;
	border-bottom: 1px solid #f3f3f3;
	text-align: center;
}
#note a{
	color: #848484;
	font-size: 12px;
	display: inline-block;
	text-align: center;
	width: 64px;
	height: 14px;
	border-right: 1px solid #8484a8;
}
#note p{
	color: #848484;
	font-size: 12px;
	line-height: 40px;
}
#note a:nth-child(1){
	margin-top: 40px;
}
#note a:nth-child(6){
	display:block;
	width: 210px;
	height: 20px;
	border: 0;
	margin-top: 10px;
	margin: 0 auto;
}
#note a span{
	color: #848484;
	font-size: 12px;
	display: block;
	line-height: 20px;
	float: right;
}
/*底部图片*/
#footimg{
	text-align: center;
	padding-bottom: 50px;
}
#footimg a{
	display: inline-block;
}
#footimg a img{
	display: block;
	width: 146px;
	height: 44px;
}
#suspend{
	position:fixed;
	top:110px;
	right: 0px;
	width: 31px;
	height: 510px;
	background: #272727;
	text-align: center;
	z-index: 2;
}
/*悬浮条*/
#suspend a{
	display: block;
	margin-top: 46px;
	color: #fff;
	font-size: 12px;

}
#suspend span{
	display: block;
	width: 12px;
	height: 50px;
	margin-left: 10px;
	margin-top: 5px;
}
#suspend p{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ff5000;
	color: #fff;
	font-size: 12px;
	text-align: center;
	margin-left: 6px;
	margin-top: 5px;
}
#suspend h3{
	width: 0px;
	height: 0px;
	border:5px solid transparent;
	border-bottom-color: #fff;
	margin: 33px 0px 0px 10px;
}
#suspend h4{
	color:#fff;
	font-size: 12px;
	font-weight: 100;
	margin-top: 10px;
}